.logo {
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: var(--short-animation);

  &__img {
    width: 15rem;
    height: 10rem;

    background-image: url('/src/assets/company-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    transition: var(--short-animation);
  }

  &__text {
    font-size: var(--h3-text-size);
    color: var(--color-primary);
    transition: var(--short-animation);

    @media screen and (width <= 1280px) {
      font-size: var(--h4-text-size);
    }
  }

  &:hover {
    .logo__text {
      color: var(--color-accent);
    }

    .logo__img {
      transform: scale(1.2);
    }
  }
}
