.info {
  &__content {
    display: flex;
    flex: 1;
    gap: 1rem;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
    padding: 1rem;

    &__img_wrapper {
      width: 100%;
      max-width: 50rem;
      height: auto;

      &__img {
        width: 100%;
        height: auto;
      }
    }

    &__text_wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      [class*='block__title'] {
        width: 100%;
        max-width: 20rem;
        margin: 1rem 0;
        border: 1px dotted var(--color-text-muted);
        border-radius: 1rem;

        color: var(--color-bg);

        background: #7b7b7b73;

        transition: var(--short-animation);

        &:hover {
          cursor: pointer;
          color: var(--color-accent);
        }
      }
    }
  }
}
