.about_main {
  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    max-width: 1440px;
    padding: 1rem;

    &__img_wrapper {
      display: flex;
      align-items: center;
      max-width: 100%;

      &__img {
        max-width: 100%;
        height: auto;
        border-radius: 0 7rem;

        @media screen and (width <=1280px) {
          box-shadow: none;
        }
      }

      @media screen and (width <=1280px) {
        max-width: 100%;
      }
    }

    &__text_wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      justify-content: space-between;

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;

        list-style: none;

        li {
          width: 100%;
          padding: 1rem;
          border-radius: 2rem;
          background: linear-gradient(
            to right,
            rgb(146 146 146 / 30%),
            rgb(255 255 255 / 30%)
          );
        }
      }

      &__title {
        font-size: var(--h2-text-size);
        color: var(--color-primary);
      }
    }
  }
}
