.image_overlay_wrapper {
  // position: relative;
  display: inline-block;

  &__small_image {
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

@keyframes overlay-fade-in {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  z-index: 9999;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(0 0 0 / 70%);

  &__content {
    width: auto;
    height: 100%;
    max-height: 90%;
    animation: overlay-fade-in 0.3s ease forwards;

    &__image {
      max-width: 100%;
      max-height: 100%;
      border-radius: 8px;
    }
  }
}
