.item {
  cursor: pointer;

  display: flex;

  border: 2px transparent solid;
  border-radius: 2rem;

  list-style-type: none;

  background-color: rgb(58 123 213 / 80%);

  transition: var(--short-animation);

  &__link {
    display: block;

    width: 100%;
    padding: 0.5rem;

    font-size: var(--accent-text-size);
    color: var(--color-bg);
    text-align: center;
    text-decoration: none;
    text-wrap: nowrap;

    transition: var(--short-animation);

    &_active {
      color: var(--color-accent);
    }

    @media screen and (width <= 1280px) {
      font-size: var(--regular-text-size);
    }
  }

  &:hover {
    border: 2px var(--color-accent) solid;

    .item__link {
      color: var(--color-accent);
    }
  }

  @media screen and (width <= 768px) {
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}
