.item {
  cursor: pointer;

  display: flex;

  border: 1px transparent solid;
  border-radius: 0.75rem;

  list-style-type: none;

  transition: var(--short-animation);

  &__link {
    display: block;

    padding: 0.5rem;

    font-size: var(--accent-text-size);
    color: var(--color-primary);
    text-decoration: none;
    text-wrap: nowrap;

    transition: var(--short-animation);

    @media screen and (width <= 1280px) {
      font-size: var(--regular-text-size);
    }
  }

  &:hover {
    border: 1px solid var(--color-primary);

    .item__link {
      color: var(--color-accent);
    }
  }
}
